.footer {
  display: flex;
  justify-content: center;
  background-color: #303f9f;
  height: auto;
  flex-direction: column;
     
     .ref {
      width: 25%;
      /* margin: 50px 50px 20px 0; */
      text-align: center;
      margin: 9px auto;
       .logo {
         > a {
           > img {
             width: 150px;
           }
         }
       }
       >.matna{
        color: whitesmoke;
        margin-top: 20px;
       }
       >h3{
        font-size: 25px;
        color: white;
        margin-bottom: 20px;
       }
       >p{
        margin-bottom: 10px;
        color: white;
       }
     }
   }
   